{% extends "header.html" %} {% block content %}
{% load static %}
{% if user.is_authenticated %}

<div >
  <center><h4>Welcome,</h4><span class="badge badge-primary"><h4><strong>{{ user.get_full_name|default:user.username }}</strong> </h4></span> </center>
</div>
{% endif %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Use this link to encript messages <a href="https://encipher.it">ENCRYPT</a></h2>
            
            <form id="contact-form" method="post" action="{% url 'index' %}" role="form">
                {% csrf_token %}
                <div class="messages"></div>
                <div class="controls">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="form_message">Message *</label>
                                {{ form.post }}
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send" value="Send message">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted"><strong>*</strong> This field are required.</p>
                        </div>
                    </div>
                </div>
            </form>
        </div><!-- /.8 -->
    </div> <!-- /.row-->
</div> <!-- /.container-->

{% endblock %}